name: "note_apps"

services:
  web:
    container_name: web
    restart: always
    build: .
    ports:
      - 4000:4000
    depends_on:
      - mongo
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - MONGODB_URI=mongodb://mongo/notesdb_test
      - PORT=4000
      - NODE_ENV=development
      - CREATE_ADMIN=true
      - CREATE_USER=true
    command: /bin/sh -c 'npm cache clean --force && npm install && npm run dev'

  mongo:
    container_name: database
    image: mongo
    ports:
      - "27017:27017"
    logging:
      driver: none
